{% extends "greenmarket/main.html" %}
{% load static %}

{% block content %}

<main class="p-6">

      <!-- Stats Cards -->
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">

        <div class="bg-white p-4 rounded-lg shadow">
          <h3 class="text-sm text-gray-500">Total Products</h3>
          <p class="text-2xl font-bold text-green-700 mt-2"> {{farm_items}} </p>
        </div>

        <div class="bg-white p-4 rounded-lg shadow">
          <h3 class="text-sm text-gray-500">Pending Request</h3>
          <p class="text-2xl font-bold text-yellow-600 mt-2">{{Pending_orders}} </p>
        </div>

        <div class="bg-white p-4 rounded-lg shadow">
          <h3 class="text-sm text-gray-500">Total Sales</h3>
          <p class="text-2xl font-bold text-green-700 mt-2">₦85,000</p>
        </div>

      </div>

      <!-- Recent Products -->
      <div>
  <div>
      <h3 class="text-lg font-semibold mb-4">Recent Products</h3>
      <div class="flex flex-wrap gap-6 justify-start">
        {% for product in orders %}
          <div class="bg-white rounded shadow p-6 flex flex-col items-center w-60">
            <!-- Product image -->
             {% if product.avater %}
            <img src="{{ product.avater.url}}" alt="{{ product.name }}" class="w-full h-40 object-cover rounded" />
            {%else%}
            <h4 class="font-semibold text-lg">no Image available for this product</h4>
            {%endif%}
            <div class="mt-4 flex just-between space-x-4 mx-0">
              <h4 class="font-semibold text-lg">{{ product.name }}</h4>
              <p class="text-md text-gray-600 mt-1">${{ product.price }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>



    </main>





{% endblock content %}







